# Игнорировать временные файлы Python
__pycache__/
*.py[cod]

# Игнорировать движок (он тяжелый и у каждого свой)
*.exe
stockfish*

# Игнорировать логи
chess_log.txt

# Игнорировать логи ChessBase
.ini

# Игнорировать результаты анализа (чтобы не засорять репозиторий)
*_analyze.pgn

# Исходные PGN
*.pgn