# Игнорировать временные файлы Python
__pycache__/
*.py[cod]

# Игнорировать движок (он тяжелый и у каждого свой)
*.exe
stockfish*

# Игнорировать логи ChessBase
*.ini

# Игнорировать логи по ученикам
*.txt

# Игнорировать результаты анализа (чтобы не засорять репозиторий)
*_analyze.pgn

# Исходные PGN
*.pgn